@media screen and (min-width: 1024px) {
  body {
    background-image: url(../images/background-pattern-desktop.svg);
    .container {
      margin-top: 15rem;
      width: 40%;
    }
  }
}

@media screen and (min-width: 568px) and (max-width: 1024px) {
  body {
    background-image: url(../images/background-pattern-desktop.svg);
    .container {
      margin-top: 12rem;
      width: 65%;
    }
  }
}
